# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [19]:
import numpy as np

#### Create an array of 10 zeros

In [20]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### Create an array of 10 ones

In [21]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

#### Create an array of 10 fives

In [22]:
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

#### Create an array of the integers from 10 to 50

In [23]:
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### Create an array of all the even integers from 10 to 50

In [24]:
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### Create a 3x3 matrix with values ranging from 0 to 8

In [25]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### Create a 3x3 identity matrix

In [26]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### Use NumPy to generate a random number between 0 and 1

In [27]:
np.random.rand(1)

array([0.26556609])

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [28]:
np.random.randn(25)

array([ 0.91693916, -0.63477536,  1.30283142,  0.72166356,  0.22038702,
        0.2321794 , -0.82069007,  1.04520691,  2.2104062 ,  0.64706814,
       -0.21112257,  1.02761943,  0.13282202, -0.70117626,  0.5240175 ,
        1.38137081,  2.15936872, -0.88191261,  0.0217351 ,  2.27103709,
       -1.46414951,  0.59721897,  0.62317901,  1.92308581,  1.51708594])

#### Create the following matrix:

#### Create an array of 20 linearly spaced points between 0 and 1:

In [30]:
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [31]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### Now do the following

#### Get the sum of all the values in mat

In [32]:
sum(mat)

array([55, 60, 65, 70, 75])

#### Get the standard deviation of the values in mat

In [33]:
np.std(mat)

np.float64(7.211102550927978)

#### Get the sum of all the columns in mat

In [34]:
sum(mat,0)

array([55, 60, 65, 70, 75])

# Great Job!